.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  /* border: 2px solid #fff; */
  width: 100%;
}