<nav class="navbar">
  <p>@Html.ActionLink("Go Home", "Index", "Home", null, new {@Class="btn btn-primary"})</p>
  <p>@Html.ActionLink("See all machines", "Index", "Machines", null, new {@Class="btn btn-primary"})</p> 
  <p>@Html.ActionLink("See all engineers", "Index", "Engineers", null, new {@Class="btn btn-primary"})</p>
</nav>